@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@800&display=swap');
html
{
    scroll-behavior: smooth;
}
#back_to_top
{
    cursor: pointer;
}
.scroll-butttons-container
{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    justify-items: space-around;
    /*align-items: center;*/
    background-color:#48C9B0;
}
.scroll-text
{
    align-self: center;
    color: black;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.scroll-buttons
{
    align-items: center;
    border-radius: 20px;
    padding: 10px 10px 10px 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 13.5px;
    box-shadow: 5px 10px 8px #888888;
    margin: 5%;
    white-space:nowrap;
    cursor: pointer;
    transition: background-color;
    transition-duration: 2s;
    justify-content: center;
    text-align: center;
    background: #ffffff;
    text-decoration: none;
    transition: background-color ease;
    transition-duration: 0.5s;
}
.scroll-buttons:hover
{
    box-shadow: 5px 10px 8px #888888;
    background-color: #3496f1;
}
.container
{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}
.img-container
{
    width: 100%;
    padding: 10px 10px 10px 10px;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    border-color: #D1E7DD;
    border-image: none;
    border-radius: 0 0 0 0;
    border-style: solid;
    border-width: 10px;
    border-width: 10px;
}
.table-container
{
    height: auto;
    width: 100%;
    margin-right: 50px;
}
.table
{
    height: 100%;
    width: 100%;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}
.center-aligner
{
    align-self: center;
}
tr
{
    height: 12px !important;
}


