.line
{
    border-bottom: 2px solid #000000;
}
.tab
{
    align-items: center;
    border-radius: 10px;
    padding: 20px 20px 20px 20px;
    color: black;
    font-family: 'Koulen', cursive;
    font-size: 50px;
    box-shadow: 5px 10px 8px #888888;
    margin: 20px;
    margin-left: 42px;
    cursor: pointer;
    transition: background-color;
    transition-duration: 2s;
    justify-content: center;
    text-align: center;
}
.tab:hover
{
    box-shadow: 5px 10px 8px #888888;
}
.tab-item:hover
{
    color: black;
}
.green:hover
{
    background-color: #E74C3C;
}
.blue:hover
{
    background-color: #D35400;
}
.tab-container
{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-items: space-around;
}
.green
{
    background-color: #0FCC65;
    transition: all background-color linear;
    transition-duration: 1s;
}
.blue
{
    background-color: #0783D3;
    transition: all background-color linear;
    transition-duration: 1s;
}
body
{
    background-color: white;
}
.tab-item
{
    align-self: center;
    font-size: 1.1rem;
    color: black;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
