.scroll-butttons-container
{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    justify-items: space-around;
    /*align-items: center;*/
    background-color:#48C9B0;
}
.scroll-text
{
    align-self: center;
    color: black;
}
.scroll-buttons
{
    align-items: center;
    border-radius: 20px;
    padding: 10px 10px 10px 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 13.5px;
    box-shadow: 5px 10px 8px #888888;
    margin: 5%;
    white-space:nowrap;
    cursor: pointer;
    transition: background-color;
    transition-duration: 2s;
    justify-content: center;
    text-align: center;
    background: #3496f1;
    text-decoration: none;
    transition: background-color ease;
    transition-duration: 1s;
}
.scroll-buttons:hover
{
    box-shadow: 5px 10px 8px #888888;
    background-color: white;
}